.cardContainer {
    width: 17rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    border: 1ps solid black;
    box-shadow: 0 0 5px 5px lightgray;
    border-radius: 1rem;
}

.cardContainer:hover{
    box-shadow: 0 0 5px 5px gray;
    cursor: pointer;
}

.imgContainer {
    flex-grow: 1;
}

#img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; */
}

.textContainer {
    padding: var(--space-1);
    display: flex;
    flex-direction: column;
}


/* card details */
.imgBox{
    width: 20rem;
    height: 20rem;
}
